bikestore.Api/bin
bikestore.Api/obj
bikestore.Core/bin
bikestore.Core/obj
bikestore.DataAccess/bin
bikestore.DataAccess/obj
bikestore.Entity/bin
bikestore.Entity/obj
.vs/
bikestore.Model/bin/
bikestore.Model/obj/
bikestore.Service/bin/
bikestore.Service/obj/
