<!-- <ng-container *ngIf="IsAuthenticated(); else unauthenticated">
  <app-navbar (LogoutEvent)=Logout($event)></app-navbar>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <app-sidenav></app-sidenav>
    </div>

    <div id="layoutSidenav_content">
      <main>
        <router-outlet></router-outlet>
      </main>

      <footer class="py-4 bg-light mt-auto">
        <app-footer></app-footer>
      </footer>
    </div>
  </div>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated></app-unauthenticated>
</ng-template>

<notifier-container></notifier-container> 
 -->


<div class="wrapper">
  <app-preloader></app-preloader>
  <app-navbar></app-navbar>
  <app-sidenav></app-sidenav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>